{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block meta %} {% endblock meta %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar container">
            <a href="{% url 'main:show_main' %}" class="nav-brand-capsule">{{brand}}</a>

            <div class="nav-menu-capsule">
                <a href="{% url 'main:show_main' %}">HOME</a>
                <a href="{% url 'main:show_experience' %}">EXPERIENCE</a>
                <a href="{% url 'main:show_projects' %}">PROJECTS</a>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock content %}

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>
</html>